<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.kwmap.mapper.SampleMapper">

    <select id="selectId" resultType="String">
        select name
        from test
        where id=3;
    </select>

    <select id="selectBuildingsList" resultType="com.example.kwmap.model.mainPageBuildingsModel">
        select *
        from buildings;
    </select>

<!--    <select id="showAllDataInMainPage" resultMap="mainpage">-->
<!--        select *-->
<!--        from main_page;-->
<!--    </select>-->
<!--    <select id="showAllDataInMainPage" resultMap="mainpage">-->
<!--        select *-->
<!--        from main_page;-->
<!--    </select>-->
</mapper>