<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.kwmap.mapper.SampleMapper">

    <select id="selectBuildingsList" resultType="com.example.kwmap.model.mainPageBuildingsModel">
        select *
        from buildings;
    </select>

    <select id="selectBuildingShortInfo" resultType="com.example.kwmap.model.mainPageBuildingsModel">
        select *
        from buildings
        where building_code=#{building_code};
    </select>

    <select id="selectDetailRoomInfo" resultType="com.example.kwmap.model.detailRoomInfoModel">
        select *
        from rooms
        where building_code=#{building_code} AND room_code=#{room_code};
    </select>

    <select id="selectDetailBuildingAllRoomsInfo" resultType="com.example.kwmap.model.detailBuildingAllRoomsInfoModel">
        select *
        from rooms
        where building_code=#{building_code}
    </select>

    <select id="selectRoomsImportanceDetail" resultType="com.example.kwmap.model.detailRoomInfoModel">
        select *
        from rooms
        where building_code=#{building_code} AND importance=TRUE;
    </select>

    <select id="selectBuildingLocation" resultType="com.example.kwmap.model.buildingLocationModel">
        select building_code, latitude, longitude
        from buildings
        where building_code=#{building_code}
    </select>

    <select id="selectMainPageInfo" resultType="com.example.kwmap.model.mainPageInfoModel">
        select *
        from notice_web
    </select>

    <select id="selectMainPageNotice" resultType="com.example.kwmap.model.mainPageNoticeModel">
        select *
        from building_notice
    </select>

<!--    <select id="showAllDataInMainPage" resultMap="mainpage">-->
<!--        select *-->
<!--        from main_page;-->
<!--    </select>-->
<!--    <select id="showAllDataInMainPage" resultMap="mainpage">-->
<!--        select *-->
<!--        from main_page;-->
<!--    </select>-->
</mapper>