/* __COMMON__ */
:root {
  --main-color: #71202c !important;
  --main-dark: #3a051f !important;
  --header-height: 80px;

  --font-size: clamp(0.5rem, 1.2vw, 1.5rem);
  --title-font-size: clamp(1rem, 1.2vw, 3rem);
  --image-width: 1200px;
  --image-height: 768px;
}

@media screen and (max-width: 1200px) {
  :root { --header-height: 60px; }
}

.page {
  position: relative;
  width: 100%;
  margin: auto;
}

.page.detail {
  margin-top: var( --header-height );
}

main {
  position: relative;
  display: flex; justify-content: center;
  width: 100%;
  margin-top: var(--header-height);
  background: #dddddd;
  overflow: hidden;
}

.inner {
  position: relative;
  width: 100%;
  padding: 0 50px;
}

@media screen and (max-width: 1200px) {
  .inner { padding: 0 20px; }
}

/* Layout 확인용 Test Bg Division */
.testBg {
  position: absolute;
  left: 110px; top: 0;
  z-index: 999;
  width: calc( 100% - 220px ); height: 100%;
  background: linear-gradient( 90deg, pink 80%, transparent 0, transparent 20% );
  background-size: 100px 100%;
  pointer-events: none;
  opacity: 0.5;
}

/* __COMMON__  */

/* header */
header {
  position: fixed;
  left: 0; top: 0;
  width: 100%; height: var( --header-height );
  background: linear-gradient( to bottom right, var( --main-color ), var( --main-dark ) );
  z-index: 99;
}

header>.inner {
  display: flex;
  justify-content: space-between; align-items: center;
  height: 100%;
}

header h1 { font-size: 0px; }
header h1>a { font-size: 40px; color: #fff; }
header h1>a>img {
  position: absolute;
  top:3%;}

/* Temporary Links List */
header ul.temp-links { display: flex; gap: 20px; }
header ul.temp-links li { color: #fff; }
header ul.temp-links li a { text-decoration: underline; }
/* Temporary Links List end */

@media screen and (max-width: 1200px) {
  header h1>a { font-size: 32px; }
}

/* fixed information modal end */
#map {
  display: none;
  z-index: 2;
}

#mapChange {
  position: absolute;
  bottom: 30px; left: 30px;
  width: 80px; height: 80px;
  border-radius: 160px;
  border-color: rgba(0, 0, 0, 0);
  background-color: var(--main-color);
  cursor: pointer;
  z-index: 300;
}

/* header end */

/* 3D Map */
#mapContainer {
  position: relative;
  width: 100%; height: 100%;
  margin: 10px;
  border-radius: 20px;
  overflow: hidden;
}

#mapMenuBtn {
  position: absolute; top: 20px; right: 20px; z-index: 9;
  width: 60px; height: 60px;
  padding: 5px;
  border-radius: 100%;
  background: #fff;
  cursor: pointer;
}
#mapMenuBtn .center {
  position: relative;
  left: 5px; top: 12px;
  display: flex; flex-direction: column; justify-content: space-between;
  width: 40px; height: 26px;
}
#mapMenuBtn .center .bar {
  position: relative;
  width: 100%; height: 4px;
  background-color: var(--main-color);
  border-radius: 4px;
  transition: transform 0.3s;
}
#mapMenuBtn.active .bar01 { transform: translateY( 11px ) rotate( 45deg ); }
#mapMenuBtn.active .bar02 { transform: scale( 0 ); }
#mapMenuBtn.active .bar03 { transform: translateY( -11px ) rotate( -45deg ); }

#mapMenu {
  position: absolute; top: 20px; right: 20px; z-index: 8;
  width: 300px; height: calc(100% - 40px);
  padding: 60px 10px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 10px 10px 10px rgba( 0, 0, 0, 0.22 );
  transform: translateX(calc(100% + 20px));
  transition: 0.4s;
  overflow: hidden;
}
#mapMenu.active { transform: translateX(0); }
.category-wrap {
  width: 100%; height: 100%;
  padding: 10px;
  background: #fff;
  border-radius: 10px;
  overflow-y: auto;
}
.category {
  position: relative;
  width: 100%; height: 34px;
  overflow: hidden;
  margin-bottom: 10px;
  border-bottom: 1px solid #aaa;
  background: #fff;
  transition: .3s ease-in-out;
}
.category.on { transition: .3s ease-in-out; }
.category .text {
  position: relative;
  display: flex;
  justify-content: space-between; align-items: center;
  cursor: pointer;
}
.category:hover .text { cursor: pointer; color: var( --main-color ); }
.category .text span { font-size: 24px; font-weight: 600; }
.category .text>img { transition: transform .3s ease; }
.category.on .text>img { transform: rotate( 180deg ); transition: transform .3s ease; }
.category .sub-categories { height: auto; background: #ddd; border-radius: 10px; }
.sub-categories>li { width: 100%; padding: 0.5em 1em; }
.sub-categories>li>a { display: block; width: 100%; font-size: 16px; }
.sub-categories>li>a:hover { text-decoration: underline; }
@media screen and (max-width: 720px) {
  #mapMenu { width: calc(100% - 40px); }
}

/* fixed-how-to-use */
#fixedHelp {
  position: fixed;
  right: 20px; bottom: 20px;
  display: none;
  width: 70px; height: 70px;
  padding: 10px;
  overflow: hidden;
  border-radius: 10px;
  background: rgba( 0, 0, 0, 0.5 );
  cursor: pointer;
  transition: 0.3s ease;
}
#fixedHelp.active { width: 200px; }
#fixedHelp.active img.help-icon { display: none; }
#fixedHelp ul { display: none; }
#fixedHelp.active ul { display: block; }
#fixedHelp ul li {
  display: flex;
  justify-content: space-between; align-items: center;
  width: 100%; height: 24px;
  margin: 10px 0;
}
/* fixed-how-to-use end */

#scrollDown {
  position: absolute; bottom: 40px; left: 50%; z-index: 3;
  display: flex; justify-content: space-between; align-items: center; width: 60px; height: 60px;
  transform: translateX(-50%);
  transition-property: width;
  transition: 0.4s;
  border-radius: 60px;
  background: #fff;
  overflow: hidden;
}
#scrollDown:hover {
  width: 300px;
  background: #fff;
}
#scrollDown svg {
  display: block;
  width: 60px; height: 60px;
  fill: var(--main-color);
}
#scrollDown span {
  display: none;
  height: 100%;
  padding-right: 1em;
  color: #333;
  font-size: 24px;
  line-height: 60px;
}
#scrollDown:hover span { display: block; }
@media screen and (max-width: 1024px) {
  #scrollDown,
  #scrollDown svg { width: 40px; height: 40px; }
  #scrollDown:hover { width: 240px; }
  #scrollDown span { font-size: 20px; line-height: 40px;}
}

/* details start */
#details {
  position: absolute; top: 20px; left: 20px; z-index: 10;
  display: block;
  width: 40%; height: calc(100% - 40px);
  padding: 10px 60px 10px 10px;
  background: #fff;
  box-shadow: 10px 10px 10px rgba( 0, 0, 0, 0.22 );
  border-radius: 10px;
  transform: translateX(calc(-100% - 50px));
  transition: transform .4s;
  overflow: hidden;
}
#details.active { transform: translateX(0); }
.details-wrap {
  position: relative; z-index: 7;
  display: flex; flex-direction: column;
  align-items: flex-start;
  width: 100%; height: 100%;
  padding: 10px;
  background: #fff;
  border-radius: 10px;
}
.details-wrap h3 {
  width: 100%; height: auto;
  margin-bottom: 20px;
  border-bottom: 2px solid #aaa;
  text-align: center;
  font-size: 24px;
}
.details-wrap .img-wrap {
  width: 100%; height: 50%;
  margin-bottom: 20px;
  border-radius: 5px;
  overflow: hidden;
}
.details-wrap .img-wrap img {
  display: block;
  width: 100%; height: 100%;
  object-fit: cover;
  text-align: center;
}
.details-wrap .text-wrap {
  display: flex; justify-content: space-evenly; align-items: center;
  width: 100%; height: 50%;
}
.text-wrap .left-wrap { width: 100%; height: 100%; padding: 10px; }
p.detail-heading {
  display: inline-block;
  height: 26px;
  margin-bottom: 4px;
  font-size: 20px;
  font-weight: bold;
  border-bottom: 2px solid var(--main-color);
}
ul.fac-list,
ul.detail-notice-list {
  width: 100%; height: calc(100% - 30px);
  margin-bottom: 10px;
  background: #ddd;
  border-radius: 5px;
  overflow-y: auto;
  font-size: 16px;
}
ul.detail-notice-list { height: calc(100% - 30px); }
ul.fac-list li,
ul.detail-notice-list li {
  width: calc(100% - 10px);
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
}
ul.fac-list li:hover,
ul.detail-notice-list li:hover { background: #bbb; }
ul.fac-list li.active { background: var(--main-color); color: #fff; }
.text-wrap .right-wrap {
  width: 100%; height: 100%;
  padding: 10px;
  display: flex; flex-direction: column;
  justify-content: space-between;
}
.right-wrap .notice-wrap {
  width: 100%; height: 100%;
}
ul.detail-notice-list li a {
  width: 100%;
  display: -webkit-box;
  white-space: normal;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 14px;
}
ul.detail-notice-list li span.date {
  display: block;
  text-align: end;
  font-size: 12px;
}
.right-wrap .mng-wrap {
  display: flex; flex-direction: column;
  justify-content: flex-end;
  width: 100%; height: 100%;
  padding: 10px;
  font-size: 20px;
}
.mng-wrap p { width: 100%; font-weight: bold; border-bottom: 2px solid var(--main-color); }
.mng-wrap span { font-size: 18px; }
.details-wrap .button-wrap {
  display: flex; justify-content: center;
  width: 100%;
}
.button-wrap button {
  width: 80%;
  padding: 5px 0;
  /* transform: translateX(-50%); */
  border: none;
  border-radius: 200px;
  background: var(--main-color);
  font-size: 20px;
  color: #fff;
  cursor: pointer;
}
.button-wrap button:hover { background: var(--main-dark); }
.button-wrap button:active { background: var(--main-color); }
#detail_link { display: block; width: 100%; height: 100%; }
#detailsOpenBtn {
  position: absolute; left: 20px; top: 50%; z-index: 5;
  display: block;
  width: 60px; height: 60px;
  border-radius: 100%;
  background: #fff;
  transform: translateY(-50%);
  cursor: pointer;
}
#detailsOpenBtn svg {
  width: 100%; height: 100%;
  fill: var(--main-color);
}
#detailsCloseBtn {
  position: absolute; right: 0px; top: 0px;
  width: 60px; height: 100%;
  background: #fff;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  line-height: 100%;
  cursor: pointer;
}
#detailsCloseBtn:hover { background: #ddd; }
#detailsCloseBtn svg {
  width: 100%; height: 100%;
  fill: var(--main-color);
}
@media screen and (max-width: 1024px) {
  #details { width: calc(100% - 40px);  padding: 10px 40px 10px 10px; }
  #detailsOpenBtn,
  #detailsCloseBtn { width: 40px; }
  #detailsOpenBtn { height: 40px; }
  .details-wrap h3 { font-size: 20px; }
  p.detail-heading { font-size: 18px; }
  ul.fac-list,
  ul.detail-notice-list { font-size: 14px; }
  ul.detail-notice-list li a { font-size: 12px; }
  ul.detail-notice-list li span.date { font-size: 10px; }
}
/* details end */

/* 3D Map end */

/* notice start */
#noticeContainer { position: relative; width: 100%; height: 100%; isolation: isolate; }
#noticeContainer h2 { margin: 40px 0; font-size: 44px; font-weight: 700; }

ul.notice-header-wrap {
  position: relative;
  display: flex;
  justify-content: space-between; align-items: center;
  width: 100%; height: 100%;
  margin-bottom: 10px;
  overflow-x: auto;
}
ul.notice-header-wrap li.notice-list { width: 100%; height: 100%; white-space: nowrap; }
li.notice-list h3 {
  display: block;
  position: sticky; top: 0;
  z-index: 10;
  padding: 10px 1em;
  background: #fff;
  border-bottom: 2px solid var(--main-color);
  color: #333;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
}
li.notice-list:hover h3,
li.notice-list.active h3 { border-top-left-radius: 10px; border-top-right-radius: 10px; }
li.notice-list.active h3 { background: var(--main-color); color: #fff; }

.notice-list-wrap { width: 100%; height: 400px; overflow: auto; border-bottom: 2px solid #aaa; }
.notice-list-wrap ul.notices { display: none; }
.notice-list-wrap ul.notices.active { display: block; width: 100%; font-size: 18px }
ul.notices li {
  display: flex;
  justify-content: space-between;
  width: 100%; height: 100%;
  padding: 10px 20px;
}
ul.notices li a:hover { text-decoration: underline; }
@media screen and (max-width: 1024px) {
  li.notice-list h3 { font-size: 18px; }
  .notice-list-wrap ul.notices.active { font-size: 16px; }
}
/* notice end */

/* detail_example: */
#detail .inner {
  display: flex; flex-direction: row;
  height: calc( 100vh - var( --header-height ) );
}


/* floors */
#detail .text-wrap {
  /*width: calc( 100% - 1200px );*/
  width: 20%;
  background-color: #eee;
  border-right: 3px solid var( --main-dark );
  border-left: 3px solid var( --main-dark );
  overflow-y: scroll;
  z-index: 99;
}

#detail .text-wrap::-webkit-scrollbar {
  width: 20px;
}
#detail .text-wrap::-webkit-scrollbar-thumb {
  background-clip: padding-box;
  border: 8px solid transparent;
  background-color: #aaaaaa;
  border-radius: 20px;
}

.detail-title {
  color: white;
  font-size: var( --title-font-size );
  font-weight: 400;
}

#floors {
  display: flex; flex-direction: column-reverse;
  justify-content: flex-end; align-items: flex-start;
  width: 100%;
  padding: 10px;
}
#floors>li { 
  width: 100%; height: auto;
  overflow: hidden;
}
#floors span.floor-title {
  display: block;
  /*margin-bottom: 10px;*/
  border-bottom: 2px solid #ccc;
  font-size: 30px;
  font-weight: 600;
  text-indent: 0.5em;
  cursor: pointer;
}
#floors li.active span.floor-title {
  background: var( --main-color );
  color: #fff;
}

/* rooms */
#rooms {
  display: flex; flex-wrap: wrap;
  width: 100%; height: auto;
  padding: 10px;
  /*pointer-events: none;*/
  cursor: default;
}
/*#floors li.active #rooms { pointer-events: all; cursor: pointer; }*/
#rooms>li {
  width: 100%; height: auto;
  padding: 5px 10px;
  /*margin-bottom: 10px;*/
  /*border-radius: 5px;*/
  font-size: 16px;
  font-weight: 600;
  text-align: left;
  line-height: 1.4;

  background-color: rgba(0, 0, 0, 0);
  border-bottom: 2px solid #ccc;
}
#rooms>li:hover,
#rooms>li.active { box-shadow: inset 0px 0px 10px rgba( 0, 0, 0, 0.22 ); }
#rooms>li>button {
  width: 100%; height: auto;
  padding: 0px 0px;
  /*margin-bottom: 10px;*/
  /*border-radius: 5px;*/
  font-size: 16px;
  font-weight: 600;
  text-align: left;
  line-height: 1.4;

  background-color: rgba(0, 0, 0, 0);
}
#rooms>li>div>div {
  width: 100%; height: auto;
  padding: 10px;
  font-size: 14px;
  font-weight: 100;
  background-color: #FFF;
}

/* img-wrap */
#detail .img-wrap {
  position: relative;
  /*width: 1200px; height: 100%;*/
  width: 60%; height: auto;
  border-right: 3px solid var( --main-dark );
  overflow: hidden;
}
#detail .img-wrap .navbar {
  position: relative;
  width: 100%; height: 3em;
  padding: 1em;
  background: #ddd;

  color: #333;
  font-size: 20px;
  font-weight: 600;

  text-align: center;
}
#detail .img-wrap .imgBg {
  position: relative;
  width: 100%; height: 100%;
}

/* roomNums */
#detail .img-wrap .roomNum {
  position: relative;
  width: calc( var( --image-width ) * 0.05 );
  height: calc( var( --image-height ) * 0.5);
  /*background: blue;*/
}
.roomNum span { 
  display: block;
  width: 100%; height: 100%;
  /*color: #fff;*/
  /*background: #c03b3b;*/
  color: #000;
  font-size: var( --font-size );
}
.roomNum span.active {
  color: red;
  font-weight: bold;
}
.roomNum span::before {
  color: #000;
  font-weight: normal;
}

.facility-detail {
  padding: 10px 7px 10px 7px;
}
.facility-detail>p {
  margin: 3px;
}
.facility-detail>a {
  margin: 3px;
  color: var(--main-color);
  text-decoration: underline;
  font-weight: bold;
}

@media screen and ( max-width: 1200px ) {
  /* header */
  header h1>a>img { height: 95% }
}

@media screen and ( max-width: 720px ) {
  #detail .inner { flex-direction: column; }
  #detail .inner .text-wrap { width: 100%; }

  #text-wrap-floors {
    width: 100%; height: auto;
    padding-bottom: 0px;
  }
  #text-wrap-rooms { width: 100%; height: 30%; }

  #floors {
    flex-direction: row;
    padding-bottom: 0px;
  }
  #floors>li {
    text-align: center;
  }
  #floors span.floor-title {
    margin-bottom: 0px;
    font-size: 20px;
    text-indent: 0em;
    text-align: center;
  }

  #rooms { padding-top: 0px; }

  #detail .img-wrap { width: 100%; height: 60%; }
  #detail .img-wrap .navbar { height: 5%; }
  #detail .img-wrap .imgBg { height: 100%; }
}