@charset "UTF-8";

:root {
  --main-color: #3a051f !important;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: inherit;
  font-size: 12px;
  line-height: 1.4;
}

ul, ol { list-style: none; }
a { text-decoration: none; color: inherit; }
a:hober { text-decoration: underline; }